/ThoConShop/packages
/ThoConShop/ThoConShop.Business/bin
/ThoConShop/ThoConShop.Business/obj
/ThoConShop/ThoConShop.DAL/bin
/ThoConShop/ThoConShop.DAL/obj
/ThoConShop/ThoConShop.Web/obj
/ThoConShop/ThoConShop.Web/bin
/ThoConShop/.vs
/ThoConShop/ThoConShop.Api/node_modules
/ThoConShop/ThoConShop.Api/bin
/ThoConShop/ThoConShop.Api/obj
