/ThoConShop/packages
/ThoConShop/ThoConShop.Business/bin
/ThoConShop/ThoConShop.Business/obj
/ThoConShop/ThoConShop.DAL/bin
/ThoConShop/ThoConShop.DAL/obj
/ThoConShop/ThoConShop.Web/obj
/ThoConShop/ThoConShop.Web/bin
/ThoConShop/.vs
/ThoConShop/ThoConShop.Api/node_modules
/ThoConShop/ThoConShop.Api/bin
/ThoConShop/ThoConShop.Api/obj
/ThoConShop/ThoConShop.DataSeedWork/bin/Debug/ShopThoCon.DataSeedWork.dll
/ThoConShop/ThoConShop.DataSeedWork/bin/Debug/ShopThoCon.DataSeedWork.pdb
/ThoConShop/ThoConShop.DataSeedWork/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ThoConShop/ThoConShop.DataSeedWork/obj/Debug/ShopThoCon.DataSeedWork.dll
/ThoConShop/ThoConShop.DataSeedWork/obj/Debug/ShopThoCon.DataSeedWork.pdb
/ThoConShop/ThoConShop.DataSeedWork/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ThoConShop/ThoConShop.DataSeedWork/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ThoConShop/ThoConShop.DataSeedWork/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ThoConShop/ThoConShop.DataSeedWork/obj/Debug/ThoConShop.DataSeedWork.csproj.FileListAbsolute.txt
/ThoConShop/ThoConShop.DataSeedWork/obj/Debug/ThoConShop.DataSeedWork.csprojResolveAssemblyReference.cache
