/ThoConShop/packages
/ThoConShop/ThoConShop.Business/bin
/ThoConShop/ThoConShop.Business/obj
/ThoConShop/ThoConShop.DAL/bin
/ThoConShop/ThoConShop.DAL/obj
/ThoConShop/ThoConShop.Web/obj
/ThoConShop/ThoConShop.Web/bin
/ThoConShop/.vs
