
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="thumbnail">
            <a href="#">
                <div class="caption">
                    <h4>A</h4>
                    <h4>A</h4>
                    <h4>A</h4>
                </div>
                <span class="header-item">Acc #14 - Acc HOT</span>
                <div class="body-item" align="center">
                    <img src="http://img.shopacclm.vn/UploadFile/Images/636123439970019078_Untitled.png" alt="..." class="img-responsive">
                </div>
            </a>
        </div>
        <div class="col-xs-12 footer-item clearfix">
            <div class="col-xs-5 col-md-6 no_padding">
                <ul>
                    <li>Rank: KC 5</li>
                    <li>Tướng: 120</li>
                    <li>Skin: 17</li>
                </ul>
            </div>
            <div class="col-xs-7 col-md-6 stay_right footer-item-right">
                <p class="">1.000.000<sup>đ</sup>
                </p>
                <button class="btn">Mua Ngay</button>
            </div>

        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="thumbnail">
            <a href="#">
                <div class="caption">
                    <h4>Thumbnail Headline</h4>
                    <p>short thumbnail description</p>

                </div>
                <span class="header-item">Acc #14 - Acc HOT</span>
                <div class="body-item" align="center">
                    <img src="http://img.shopacclm.vn/UploadFile/Images/636123439970019078_Untitled.png" alt="..." class="img-responsive">
                </div>
            </a>
        </div>
        <div class="col-xs-12 footer-item clearfix">
            <div class="col-xs-5 col-md-6 no_padding">
                <ul>
                    <li>Rank: KC 5</li>
                    <li>Tướng: 120</li>
                    <li>Skin: 17</li>
                </ul>
            </div>
            <div class="col-xs-7 col-md-6 stay_right footer-item-right">
                <p class="">1.000.000<sup>đ</sup>
                </p>
                <button class="btn">Mua Ngay</button>
            </div>

        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="thumbnail">
            <a href="#">
                <div class="caption">
                    <h4>Thumbnail Headline</h4>
                    <p>short thumbnail description</p>

                </div>
                <span class="header-item">Acc #14 - Acc HOT</span>
                <div class="body-item" align="center">
                    <img src="http://img.shopacclm.vn/UploadFile/Images/636123439970019078_Untitled.png" alt="..." class="img-responsive">
                </div>
            </a>
        </div>
        <div class="col-xs-12 footer-item clearfix">
            <div class="col-xs-5 col-md-6 no_padding">
                <ul>
                    <li>Rank: KC 5</li>
                    <li>Tướng: 120</li>
                    <li>Skin: 17</li>
                </ul>
            </div>
            <div class="col-xs-7 col-md-6 stay_right footer-item-right">
                <p class="">1.000.000<sup>đ</sup>
                </p>
                <button class="btn">Mua Ngay</button>
            </div>

        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="thumbnail">
            <a href="#">
                <div class="caption">
                    <h4>Thumbnail Headline</h4>
                    <p>short thumbnail description</p>

                </div>
                <span class="header-item">Acc #14 - Acc HOT</span>
                <div class="body-item" align="center">
                    <img src="http://img.shopacclm.vn/UploadFile/Images/636123439970019078_Untitled.png" alt="..." class="img-responsive">
                </div>
            </a>
        </div>
        <div class="col-xs-12 footer-item clearfix">
            <div class="col-xs-5 col-md-6 no_padding">
                <ul>
                    <li>Rank: KC 5</li>
                    <li>Tướng: 120</li>
                    <li>Skin: 17</li>
                </ul>
            </div>
            <div class="col-xs-7 col-md-6 stay_right footer-item-right">
                <p class="">1.000.000<sup>đ</sup>
                </p>
                <button class="btn">Mua Ngay</button>
            </div>

        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="thumbnail">
            <a href="#">
                <div class="caption">
                    <h4>Thumbnail Headline</h4>
                    <p>short thumbnail description</p>

                </div>
                <span class="header-item">Acc #14 - Acc HOT</span>
                <div class="body-item" align="center">
                    <img src="http://img.shopacclm.vn/UploadFile/Images/636123439970019078_Untitled.png" alt="..." class="img-responsive">
                </div>
            </a>
        </div>
        <div class="col-xs-12 footer-item clearfix">
            <div class="col-xs-5 col-md-6 no_padding">
                <ul>
                    <li>Rank: KC 5</li>
                    <li>Tướng: 120</li>
                    <li>Skin: 17</li>
                </ul>
            </div>
            <div class="col-xs-7 col-md-6 stay_right footer-item-right">
                <p class="">1.000.000<sup>đ</sup>
                </p>
                <button class="btn">Mua Ngay</button>
            </div>

        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="thumbnail">
            <a href="#">
                <div class="caption">
                    <h4>Thumbnail Headline</h4>
                    <p>short thumbnail description</p>

                </div>
                <span class="header-item">Acc #14 - Acc HOT</span>
                <div class="body-item" align="center">
                    <img src="http://img.shopacclm.vn/UploadFile/Images/636123439970019078_Untitled.png" alt="..." class="img-responsive">
                </div>
            </a>
        </div>
        <div class="col-xs-12 footer-item clearfix">
            <div class="col-xs-5 col-md-6 no_padding">
                <ul>
                    <li>Rank: KC 5</li>
                    <li>Tướng: 120</li>
                    <li>Skin: 17</li>
                </ul>
            </div>
            <div class="col-xs-7 col-md-6 stay_right footer-item-right">
                <p class="">1.000.000<sup>đ</sup></p>
                <button class="btn">Mua Ngay</button>
            </div>

        </div>
    </div>
</div>






    <div class="row">
        <div class="col-md-12">
                <ul class="body-pagging">
                    <li class="active"><a href="/?page=1">1</a></li>
                    <li class=""><a href="/?page=2">2</a></li>
                    <li class=""><a href="/?page=3">3</a></li>
                    <li class=""><a href="/?page=4">4</a></li>
                    <li>
                        <a href="/?page=4">Cuối</a>
                    </li>

                </ul>
        </div>
    </div>
