
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 content_right">
        <div class="top_grid2">
            <div class="col-md-4 top_grid1-box1">
                <a href="single.html">
                    <div class="grid_1">
                        <div class="b-link-stroke b-animate-go  thickbox">
                            <img src="~/Images/p3.jpg" class="img-responsive" alt="" />

                        </div>
                        <div class="grid_2">
                            <p>There are many variations of passages</p>
                            <ul class="grid_2-bottom">
                                <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                                <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div></li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 top_grid1-box1">
                <a href="single.html">
                    <div class="grid_1">
                        <div class="b-link-stroke b-animate-go  thickbox">
                            <img src="~/Images/p4.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="grid_2">
                            <p>There are many variations of passages</p>
                            <ul class="grid_2-bottom">
                                <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                                <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div></li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 top_grid1-box1">
                <a href="single.html">
                    <div class="grid_1">
                        <div class="b-link-stroke b-animate-go  thickbox">
                            <img src="~/Images/p5.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="grid_2">
                            <p>There are many variations of passages</p>
                            <ul class="grid_2-bottom">
                                <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                                <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div></li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top_grid2">
            <div class="col-md-4 top_grid1-box1">
                <a href="single.html">
                    <div class="grid_1">
                        <div class="b-link-stroke b-animate-go  thickbox">
                            <img src="~/Images/p6.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="grid_2">
                            <p>There are many variations of passages</p>
                            <ul class="grid_2-bottom">
                                <li class="grid_2-left">
                                    <p>
                                        $99<small>.33</small>
                                    </p>
                                </li>
                                <li class="grid_2-right">
                                    <div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div>
                                </li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 top_grid1-box1">
                <a href="single.html">
                    <div class="grid_1">
                        <div class="b-link-stroke b-animate-go  thickbox">
                            <img src="~/Images/p7.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="grid_2">
                            <p>There are many variations of passages</p>
                            <ul class="grid_2-bottom">
                                <li class="grid_2-left">
                                    <p>
                                        $99<small>.33</small>
                                    </p>
                                </li>
                                <li class="grid_2-right">
                                    <div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div>
                                </li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 top_grid1-box1">
                <a href="single.html">
                    <div class="grid_1">
                        <div class="b-link-stroke b-animate-go  thickbox">
                            <img src="~/Images/p8.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="grid_2">
                            <p>There are many variations of passages</p>
                            <ul class="grid_2-bottom">
                                <li class="grid_2-left">
                                    <p>
                                        $99<small>.33</small>
                                    </p>
                                </li>
                                <li class="grid_2-right">
                                    <div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div>
                                </li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>






    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <ul class="sa-pagging">
                    <li class="active"><a href="/?page=1">1</a></li>
                    <li class=""><a href="/?page=2">2</a></li>
                    <li class=""><a href="/?page=3">3</a></li>
                    <li class=""><a href="/?page=4">4</a></li>
                    <li>
                        <a href="/?page=4">Cuối</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
