
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top_grid1">
    <div class="col-md-4 box_2">
        <div class="grid_1">
            <a href="single.html">
                <div class="b-link-stroke b-animate-go  thickbox">
                    <img src="~/Images/p1.jpg" class="img-responsive" alt="" />
                </div>
                <div class="grid_2">
                    <p>There are many variations of passages</p>
                    <ul class="grid_2-bottom">
                        <li class="grid_2-left">
                            <p>
                                $99<small>.33</small>
                            </p>
                        </li>
                        <li class="grid_2-right">
                            <div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div>
                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </a>
        </div>

    </div>
    <div class="col-md-8 box_1">
        <a href="single.html">
            <div class="grid_1">
                <div class="b-link-stroke b-animate-go  thickbox">
                    <img src="~/Images/p2.jpg" class="img-responsive" alt="" />
                </div>
                <div class="grid_2">
                    <p>There are many variations of passages</p>
                    <ul class="grid_2-bottom">
                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                        <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="top_grid2">
    <div class="col-md-4 top_grid1-box1">
        <a href="single.html">
            <div class="grid_1">
                <div class="b-link-stroke b-animate-go  thickbox">
                    <img src="~/Images/p3.jpg" class="img-responsive" alt="" />
                </div>
                <div class="grid_2">
                    <p>There are many variations of passages</p>
                    <ul class="grid_2-bottom">
                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                        <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 top_grid1-box1">
        <a href="single.html">
            <div class="grid_1">
                <div class="b-link-stroke b-animate-go  thickbox">
                    <img src="~/Images/p4.jpg" class="img-responsive" alt="" />
                </div>
                <div class="grid_2">
                    <p>There are many variations of passages</p>
                    <ul class="grid_2-bottom">
                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                        <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 top_grid1-box1">
        <a href="single.html">
            <div class="grid_1">
                <div class="b-link-stroke b-animate-go  thickbox">
                    <img src="~/Images/p5.jpg" class="img-responsive" alt="" />
                </div>
                <div class="grid_2">
                    <p>There are many variations of passages</p>
                    <ul class="grid_2-bottom">
                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                        <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="top_grid2">
    <div class="col-md-4 top_grid1-box1">
        <a href="single.html">
            <div class="grid_1">
                <div class="b-link-stroke b-animate-go  thickbox">
                    <img src="~/Images/p6.jpg" class="img-responsive" alt="" />
                </div>
                <div class="grid_2">
                    <p>There are many variations of passages</p>
                    <ul class="grid_2-bottom">
                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                        <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 top_grid1-box1">
        <a href="single.html">
            <div class="grid_1">
                <div class="b-link-stroke b-animate-go  thickbox">
                    <img src="~/Images/p7.jpg" class="img-responsive" alt="" />
                </div>
                <div class="grid_2">
                    <p>There are many variations of passages</p>
                    <ul class="grid_2-bottom">
                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                        <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 top_grid1-box1">
        <a href="single.html">
            <div class="grid_1">
                <div class="b-link-stroke b-animate-go  thickbox">
                    <img src="~/Images/p8.jpg" class="img-responsive" alt="" />
                </div>
                <div class="grid_2">
                    <p>There are many variations of passages</p>
                    <ul class="grid_2-bottom">
                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                        <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="clearfix"> </div>
</div>
<h4 class="head"><span class="m_2">Popular</span> Products Now</h4>
<div class="top_grid2">
    <div class="col-md-4 top_grid1-box1">
        <a href="single.html">
            <div class="grid_1">
                <div class="b-link-stroke b-animate-go  thickbox">
                    <img src="~/Images/p9.jpg" class="img-responsive" alt="" />
                </div>
                <div class="grid_2">
                    <p>There are many variations of passages</p>
                    <ul class="grid_2-bottom">
                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                        <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 top_grid1-box1">
        <a href="single.html">
            <div class="grid_1">
                <div class="b-link-stroke b-animate-go  thickbox">
                    <img src="~/Images/p10.jpg" class="img-responsive" alt="" />
                </div>
                <div class="grid_2">
                    <p>There are many variations of passages</p>
                    <ul class="grid_2-bottom">
                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                        <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 top_grid1-box1">
        <a href="single.html">
            <div class="grid_1">
                <div class="b-link-stroke b-animate-go  thickbox">
                    <img src="~/Images/p11.jpg" class="img-responsive" alt="" />
                </div>
                <div class="grid_2">
                    <p>There are many variations of passages</p>
                    <ul class="grid_2-bottom">
                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                        <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="top_grid2">
    <div class="col-md-4 top_grid1-box1">
        <a href="single.html">
            <div class="grid_1">
                <div class="b-link-stroke b-animate-go  thickbox">
                    <img src="~/Images/p12.jpg" class="img-responsive" alt="" />
                </div>
                <div class="grid_2">
                    <p>There are many variations of passages</p>
                    <ul class="grid_2-bottom">
                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                        <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 top_grid1-box1">
        <a href="single.html">
            <div class="grid_1">
                <div class="b-link-stroke b-animate-go  thickbox">
                    <img src="~/Images/p13.jpg" class="img-responsive" alt="" />
                </div>
                <div class="grid_2">
                    <p>There are many variations of passages</p>
                    <ul class="grid_2-bottom">
                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                        <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 top_grid1-box1">
        <a href="single.html">
            <div class="grid_1">
                <div class="b-link-stroke b-animate-go  thickbox">
                    <img src="~/Images/p14.jpg" class="img-responsive" alt="" />
                </div>
                <div class="grid_2">
                    <p>There are many variations of passages</p>
                    <ul class="grid_2-bottom">
                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                        <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="clearfix"> </div>
</div>