
@{
    ViewBag.Title = "LuckyWheel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/main.css" rel="stylesheet" />
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script src="~/Scripts/Winwheel.js"></script>

<canvas id="canvas" width="434" height="434">
  
</canvas>

<button id="quay">Quay</button>
<script src="~/Scripts/Custom/luckyWheel.js"></script>  