
@{
    ViewBag.Title = "LuckyWheel";
    Layout = "~/Views/Shared/_DetailsLayout.cshtml";
}
<link href="~/Content/main.css" rel="stylesheet" />
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script src="~/Scripts/Winwheel.js"></script>
<link href="~/Content/luckyWheel.css" rel="stylesheet" />

<div class="ov-top masthead" style="padding-top: 0px">
    <div class="container text-center">
        <h1 class="c-hero__title u-text-gradient"></h1>
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div id="canvasContainer" align="center">
                    <canvas id="canvas" width="600" height="600">
                    </canvas>
                  
                    <a href="#" id="prizePointer">
                        <img class="img-responsive" src="~/Images/btn-wheel.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

</div>
<script src="~/Scripts/Custom/luckyWheel.js"></script> 