
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_NotFound.cshtml";
}

<div class="container" id="container">
    <div class="fallback fillParent vAligner text-center" style="display: none;">
        <div class="vItem">
            <h1>404</h1>
            <p>Page not found</p>
        </div>
    </div>
    <canvas width="1920" height="482" style="width: 1920px; height: 482px;"></canvas>
</div>

