
@{
    ViewBag.Title = "NotReady";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div align="center">
        <h3>Hiện Tại Vòng Quay May Mắn Đang Bảo Trì.</h3>
        <h4>Xin Lỗi Vì Sự Bất Tiện Này.</h4>
    </div>
</div>


