@using PagedList.Mvc
@model PagedList.IPagedList<ThoConShop.Business.Dtos.ChampionDto>
@{
    ViewBag.Title = "ChampManagement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="card">

    <!-- BEGIN SEARCH HEADER -->
    <div class="card-head style-primary">
        <div class="tools pull-left">
            <header>Quản Lý Tướng</header>
          
        </div>
        <div class="tools">
            @using (Html.BeginForm("UploadChamp", "Management", FormMethod.Post, new
            {
                enctype = "multipart/form-data"
            }))
            {
                <div class="col-lg-2 no-padding">
                    <button type="submit" class="btn ink-reaction btn-primary"><i class="md md-file-upload"></i></button>
                </div>
                <div class="col-lg-10 no-padding">
                    <div class="">
                        <input type="file" class="form-control" name="champFull" placeholder="">
                    </div>
                </div>
               
            }
        </div>
    </div><!--end .card-head -->
    <!-- END SEARCH HEADER -->
    <!-- BEGIN SEARCH RESULTS -->
    <div class="card-body">
        <!-- BEGIN SEARCH NAV -->
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Hình Ảnh</th>
                                <th>Tên Tướng</th>
                                <th class="text-right"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center"><img src="@item.Avatar" /></td>
                                    <td>@item.ChampionName</td>
                                    <td class="text-right">
                                        <a id="deleteButton" href="@Url.Action("DeleteChamp", "Management", new {champId = item.Id})" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Xóa"><i class="fa fa-trash-o"></i></a>
                                        @*<a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Thêm Tướng/Trang Phục"><i class="md md-visibility"></i></a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
          
        </div><!--end .col -->
        <!-- END SEARCH NAV -->
        <div class="row">
            <div class="col-md-12 body-pagging">
                @Html.PagedListPager(Model, page => Url.Action("ChampManagement", "Management", new { page }))
            </div>
        </div>
    </div><!--end .row -->

</div><!--end .card-body -->
<!-- END SEARCH RESULTS -->

