
@{
    ViewBag.Title = "FeedManagement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">

    <!-- BEGIN SEARCH HEADER -->
    <div class="card-head style-primary">
        <div class="tools pull-left">
            <form class="navbar-search" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" name="contactSearch" placeholder="Enter your keyword">
                </div>
                <button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="tools">
            <a class="btn btn-floating-action btn-default-light" href="../../../html/pages/contacts/add.html"><i class="fa fa-plus"></i></a>
        </div>
    </div><!--end .card-head -->
    <!-- END SEARCH HEADER -->
    <!-- BEGIN SEARCH RESULTS -->
    <div class="card-body">
        <div class="row">

            <!-- BEGIN SEARCH NAV -->
            <div class="col-sm-4 col-md-3 col-lg-2">

            </div><!--end .col -->
            <!-- END SEARCH NAV -->
        </div><!--end .row -->
    </div><!--end .card-body -->
    <!-- END SEARCH RESULTS -->

</div>

