@using PagedList.Mvc
@model IList<string>
@{
    ViewBag.Title = "UpdateChampAccount";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="http://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script>
<link href="~/Content/typeahead.tagging.css" rel="stylesheet" />
<script src="~/Scripts/typeahead.bundle.min.js"></script>
<script src="~/Scripts/typeahead.tagging.js"></script>

<div class="card">
    <!-- BEGIN SEARCH HEADER -->
    <div class="card-head style-primary">
        <div class="tools pull-left" style="width: 85%;">
            <header>Quản Lý Tướng Cho Tài Khoản (#@ViewBag.AccountId)</header>
        </div>
    </div><!--end .card-head -->
    <!-- END SEARCH HEADER -->
    <!-- BEGIN SEARCH RESULTS -->
    @using (Html.BeginForm("AssignOrUnassignChamp", "Management", FormMethod.Post))
    {
        <input type="hidden" value="@ViewBag.AccountId" name="accountId" id="accountId" />
        <div class="card-body">
            <!-- BEGIN SEARCH NAV -->
            <div class="col-sm-12 col-md-12 col-lg-12">
                <input id="champ" class="tags-input" name="champs" value="@string.Join(",", @Model)">
            </div><!--end .col -->
            <!-- END SEARCH NAV -->
        </div><!--end .row -->
        <div class="card-actionbar">
            <div class="card-actionbar-row">
                <button type="submit" class="btn btn-flat btn-primary ink-reaction">Cập Nhật</button>
            </div>
        </div>
    }
   
</div><!--end .card-body -->
<!-- END SEARCH RESULTS -->

<script src="~/Scripts/Custom/_updateAccountChamp.js"></script>