

#canvasContainer {
    position: relative;
    /*background: url(../Images/wheel.png) top center no-repeat;*/
    -ms-background-size: 450px 450px;
    background-size: 450px 450px;
}

#canvas {
    z-index: 1;
}
#vertical-slider {
    height: 150px;
    margin-left: 30px;
}
 
#prizePointer {
    position: absolute;
    left: 47.7%;
    top: -27px;
    z-index: 999;
    height: 50px;
    width: 50px;
    border: none;
}